.main-head{
  height: 50px;
  align-items: center;
}
.main-head .fa{
  color: #fff;
  font-size: 1.2em;
}
.sub-main{
  position: relative;
}
.sub{
  position: absolute;
  top: -5px;
 left: -9px;
}
.main-ls button{
  background: transparent;
  border:none;
}
.active{
  text-decoration: line-through;
}
.inAct{
  text-decoration: none;
}